## Using simple python codes

In [ ]:
# processing the raw data file

with open('data-file.txt') as dataFile:
    datalist = dataFile.read().splitlines()
    
# do the sam for the validation list
with open('validation-list-file.txt') as validationFile:
    validationlist = validationFile.read().splitlines()

In [ ]:
# Removing duplicate data
uniqueDataList = []
for item in datalist:
    if item not in uniqueList:
        uniqueDataList.append(item)

In [ ]:
# Comparing the data to the validation list

def compare(element):
    if element not in validationlist:
        return True
    
# filter data against validation list
onlyInData = filter(compare, uniqueDataList)

## Use Pandas

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame( [[1,2,3,3],[1,2,3,3],[4,5,5,np.nan],[6,np.nan,8,10],[np.nan,8,np.nan,np.nan],[1,np.nan,8,8]])
df

     0    1    2     3
0  1.0  2.0  3.0   3.0
1  1.0  2.0  3.0   3.0
2  4.0  5.0  5.0   NaN
3  6.0  NaN  8.0  10.0
4  NaN  8.0  NaN   NaN
5  1.0  NaN  8.0   8.0

In [6]:
df.drop_duplicates()

# drop the second row which is identical with the first row

     0    1    2     3
0  1.0  2.0  3.0   3.0
2  4.0  5.0  5.0   NaN
3  6.0  NaN  8.0  10.0
4  NaN  8.0  NaN   NaN
5  1.0  NaN  8.0   8.0